/*-elements-*/
.burger, .content__image-scketch, .content__image-strarting, .content__image-Dummy {
  position: relative;
  top: 0;
  left: 0; }

/*-mixins-*/
/*-variable-*/
/*-base-*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

main,
nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-size: 10px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", Roboto, Helvetica, Arial, sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: hidden; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

progress {
  vertical-align: baseline; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

code,
kbd,
samp {
  font-size: 1em; }

b,
strong {
  font-weight: bolder; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/*-components-*/
.burger {
  width: 35px;
  height: 25px;
  align-self: flex-start;
  margin: 25px 0;
  cursor: pointer; }
  @media screen and (max-width: 992px) {
    .burger {
      align-self: center; } }

.burger span,
.burger::after,
.burger::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: #000;
  transition: top 500ms ease, transform 500ms ease; }

.burger span {
  top: 50%; }

.burger::before {
  top: 100%;
  transition: top 500ms ease, transform 500ms ease; }

.burger::after {
  top: 0%;
  transition: top 500ms ease, transform 500ms ease; }

.burger.active span {
  transform: scale(0);
  transition: top 500ms ease, transform 500ms ease; }

.burger.active::before {
  top: 40%;
  transform: rotate(45deg);
  transition: top 500ms ease, transform 500ms ease; }

.burger.active::after {
  top: 40%;
  transform: rotate(-45deg);
  transition: all 500ms ease; }

/*-layout-*/
.main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; }

.header {
  display: grid;
  grid-template-columns: 2.5fr minmax(0, 450px);
  min-height: 100vh; }
  @media screen and (max-width: 992px) {
    .header {
      grid-template-columns: 1fr; } }

@media screen and (max-width: 992px) {
  .header__image {
    min-height: 150px; } }

.header__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

.header__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 325px;
  margin: 0 auto; }
  @media screen and (max-width: 992px) {
    .header__description {
      max-width: none;
      text-align: center;
      padding: 50px 15px; } }

.header__title {
  margin-bottom: 60px;
  font-size: 40px;
  line-height: 57px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #262f32; }

.header__title span {
  font-weight: 700; }

.header__text {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #262f32; }

.content {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 1fr 1fr; }

.content__image-scketch {
  grid-row: 1 / -1;
  background: url("../assets/images/content/bg2.jpg") no-repeat center/cover; }

.content__image-scketch:hover .content__bg {
  background-color: rgba(22, 38, 51, 0.75); }

.content__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(30, 146, 175, 0.75);
  transition: background-color 500ms ease; }

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  max-width: 450px;
  margin: 0 auto 0 auto;
  padding: 0 15px; }

.title {
  margin-bottom: 30px;
  position: relative;
  font-size: 45px;
  line-height: 66px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #fff; }

.title span {
  font-weight: 900; }

.text {
  position: relative;
  font-size: 15.6px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #fff; }

.content__image-strarting {
  grid-column: 2 / 3;
  background: url("../assets/images/content/bg3.jpg") no-repeat center/cover; }

.content__bg--strarting {
  background-color: rgba(255, 244, 210, 0.91); }

.content__image-strarting:hover .content__bg--strarting {
  background-color: rgba(30, 146, 175, 0.75); }

.button {
  height: 52px;
  margin-top: 25px;
  padding: 0 56px;
  position: relative;
  font-size: 16.6px;
  line-height: 32px;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid #262f32;
  border-radius: 15px; }

.button--bd {
  color: #fff;
  border: 1px solid #fff; }

.content__image-Dummy {
  grid-column: 2 / 3;
  background: url("../assets/images/content/bg1.jpg") no-repeat center/cover; }

.content__image-Dummy:hover .content__bg--Dummy {
  background-color: rgba(30, 146, 175, 0.75); }

.content__bg--Dummy {
  background-color: rgba(22, 38, 51, 0.75); }
