main.main

	.header-image
		img.header-image-img(src="assets/images/header/bg.jpg", alt="")

	.header-description
		.burger
			span 
		h1.header-description__title 
		p.header-description__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
		p.header-description__text quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dol.
	.menu

	
	.scketch.content--inner
		.bg
		
		.description.scketch__description
			h2.title.title--margin Drawing <span>Scketch</span>
			p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.

		.description.scketch__description
			h2.title.title--margin Making <span>Design</span>
			p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.

		.description.scketch__description
			h2.title.title--margin Developing <span>Product</span>
			p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.

	.strarting.content--inner
		.bg.strarting--bg

		.description.strarting__color
			h2.title.title--margin Best <span>Strarting</span>
			p.text Lorem ipsum dolor sit amet, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
			button.button View Our History
		
	.Dummy.content--inner
		.bg.Dummy--bg

		.description
			h2.title.title--margin Verified <span>Dummy</span>
			p.text Lorem ipsum dolor sit amet, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
			button.button.button--bd Go To The Page
	
	.footer-left
		.bg.footer-left--bg

		.footer-left__block.footer__left--inner
			h2.title.footer__title This Webpage Is <span>Designed By</span>

			.footer-left__logo 
				img.footer-left__log(src="assets/images/footer/logo.png", alt="")
				h3.title.title--bold Ali Sayed
				p.text Graphic Designer

	.footer-right
		.bg.footer-right--bg

		.footer-right__block
			h2.title.footer__title Say <span>'Hello'</span>

			form.footer-right__inner-input(action="#") 
				input.text.footer-right__input.footer-right__input-name(type="text" placeholder="Your Name")
				input.text.footer-right__input.footer-right__input-email(type="email" placeholder="Your Email")
				textarea.text.footer-right__input.footer-right__input-message(placeholder="Your Message Here")
		
			.footer-right__socials-inner
				p.text.footer__text Stay Connnected With Us...

				.footer-right__socials
					a.footer-right__link(href="#") 
						img.footer-right__icon(src="assets/images/footer/icon1.svg", alt="")
						
					a.footer-right__link(href="#") 
						img.footer-right__icon(src="assets/images/footer/icon3.svg", alt="")
						
					a.footer-right__link(href="#") 
						img.footer-right__icon(src="assets/images/footer/icon2.svg", alt="")


				p.text.footer__text Please Feel Free To Contat With me For Any Kind of Prject.

