.main {
}

.header {
	display: grid;
	grid-template-columns: 2.5fr minmax(0,450px);

	min-height: 100vh;

	@media screen and(max-width:992px){
		grid-template-columns: 1fr;
	}
}


.header__row {
}

.header__image {
	@media screen and(max-width:992px){
		min-height: 150px;
	}
}

.header__img {
	@include wh(100%,100%);

	object-fit: cover;
	object-position: center;
}

.header__description {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 325px;
	margin: 0 auto;

	@media screen and(max-width:992px){
		max-width: none;
		text-align: center;
		padding: 50px 15px;
	}
}

.header__title {
	margin-bottom: 60px;

	font-size: 40px;
	line-height: 57px;
	font-weight: 300;
	letter-spacing: 0.03em;
	color: #262f32;
}

.header__title span{
font-weight: 700;
}

.header__text {
	margin-bottom: 50px;

	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.03em;
	color: #262f32;
}

//-----------------------------------//

.content {
	display: grid;
	grid-template-columns: 0.8fr 1fr ;
	grid-template-rows: 1fr 1fr;

	// @media screen and(max-width:992px){
	// 	grid-template-columns: 1fr ;
	// 	grid-template-rows: 1fr;
	// }
}

.content__image-scketch{
	grid-row: 1 / -1;

	@extend %pos-rel;

	background:url("#{$way-img}/content/bg2.jpg") no-repeat center/cover;
}

.content--inner{
	padding: 70px 50px;
}

.content__image-scketch:hover .content__bg{
	background-color: rgba(22,38,51,0.75);
}

.bg{
	@include wh(100%,100%);

	position:absolute;
	top:0;
	left:0;

	background-color: rgba(30,146,175,0.75);

	transition:background-color 500ms ease ;
}

.bg:hover{
	background-color: rgba(22,38,51,0.75);
}

.description {
	max-width: 460px;
}


.title {
	position: relative;

	font-size: 45px;
	line-height: 66px;
	font-weight: 300;
	letter-spacing: 0.03em;
	color: #fff;
}

.title--margin{
	margin-bottom: 30px;
}

.title span{
	font-weight: 900;
}

.text {
	position: relative;

	font-size: 15.6px;
	line-height: 28px;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #fff;
}

.description__color .text{
	color: #000;
}

.description__color .title{
	color: #000;
}

.description--marign{
	margin-bottom:80px;
}

.description--marign:last-child{
	margin-bottom:0;

}

.content__image-strarting {
	grid-column: 2 / 3;

	@extend %pos-rel;

	background:url("#{$way-img}/content/bg3.jpg") no-repeat center/cover;
}

.bg--strarting{
	background-color: rgba(255,244,210,0.91);
}

.content__image-strarting:hover .bg--strarting{
	background-color: rgba(30,146,175,0.75);
}

.button {
	height: 52px;
	margin-top: 25px;
	padding: 0 56px;

	position: relative;

	font-size: 16.6px;
	line-height: 32px;
	letter-spacing: 0.03em;

	background-color:transparent;
	border: 1px solid #262f32;
	border-radius: 15px;

	transition: background-color 500ms ease;
}

.button:hover{
	background-color: rgba(255, 244, 210, 0.493);
}

.button--bd{
	color: $main-color;

	border: 1px solid $main-color;
}

.button--bd:hover{
	background-color: rgba(22,38,51,0.75);
}

.content__image-Dummy {
	grid-column: 2 / 3;

	@extend %pos-rel;

	background:url("#{$way-img}/content/bg1.jpg") no-repeat center/cover;
}

.content__image-Dummy:hover .bg--Dummy{
	background-color: rgba(30,146,175,0.75);
}

.bg--Dummy{
	background-color: rgba(22,38,51,0.75);
}

//-----------------------------------//

.footer {
	display: grid;
	grid-template-columns: 33.333% 66.666%;
}

.footer__left--inner{
	padding: 70px 10px;
}

.footer__image-left{
	@extend %pos-rel;

	background:url("#{$way-img}/footer/bg2.png") no-repeat center/cover;
}

.footer__bg-left{
	background-color: rgba(29,83,103,0.75);
}

.footer__left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 100%;

	max-width: 345px;
	margin: 0 auto;
}


.footer__inner-logo {
	position: relative;
}

.title--bold{
	font-weight: 900;
}

.footer__image-right{
	@extend %pos-rel;

	background:url("#{$way-img}/footer/bg1.png") no-repeat center/cover;

	transition: background-color 500ms ease;
}

.footer__image-right:hover .bg.footer__bg-right{
	background-color: rgba(15, 90, 67, 0.5);
}

.bg.footer__bg-right{
	background-color: rgba(90, 102, 95, 0.5);
}

.footer-right {
	height: 100%;
	max-width: 620px;
	padding: 75px 0 75px 50px;

	position: relative;

	@media screen and(max-width:992px){
		padding-left: 15px;
		padding-right: 15px;
	}
}

.footer__title{
	margin-bottom: 60px;
}

.footer__inner-input {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 57px 1fr;
	grid-gap: 50px 25px;
}

.footer__input{
	text-indent: 25px;

	background-color: transparent;
	border: 1px solid $main-color;
	border-radius: 20px;

	transition: background 500ms ease;
}

.footer__input:focus{
	background-color: rgba(80, 77, 77, 0.5);
}

.footer__input::placeholder{
	color: $main-color;

	transition: transform 500ms ease;
}

.footer__input-message{
	padding-top:25px;
}

.footer__input:hover::placeholder{
	color: $main-color;
	transform: scale(0);
}

.footer__input-name {
	grid-column: 1/2;
}

.footer__input-message {
	grid-column: 1/3;
	min-height: 150px;
}

.footer__socials-inner {
	margin-top: 100px;
}

.footer__socials {
	display: flex;
	margin: 15px 0;
}

.footer__link {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right:15px;
	@include wh(45px,45px);
	

	background-color: #345bb4;
	border-radius: 15px;

	transition:background-color 500ms ease,border 500ms ease ;
}
.footer__link:hover{
	background-color: transparent;
	border: 1px solid $main-color;
}

.footer__link:nth-of-type(2){
	background-color: #e64895;
}

.footer__link:hover:nth-of-type(2){
	background-color: transparent;
	border: 1px solid $main-color;
}


.footer__link:nth-of-type(3){
	background-color: #00b4ff;
}

.footer__link:hover:nth-of-type(3){
	background-color: transparent;
	border: 1px solid $main-color;
}

.footer__icon {
}
