.main {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.header {
	display: grid;
	grid-template-columns: 2.5fr minmax(0,450px);

	min-height: 100vh;

	@media screen and(max-width:992px){
		grid-template-columns: 1fr;
	}
}


.header__row {
}

.header__image {
	@media screen and(max-width:992px){
		min-height: 150px;
	}
}

.header__img {
	@include wh(100%,100%);

	object-fit: cover;
	object-position: center;
}

.header__description {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 325px;
	margin: 0 auto;

	@media screen and(max-width:992px){
		max-width: none;
		text-align: center;
		padding: 50px 15px;
	}
}

.header__title {
	margin-bottom: 60px;

	font-size: 40px;
	line-height: 57px;
	font-weight: 300;
	letter-spacing: 0.03em;
	color: #262f32;
}

.header__title span{
font-weight: 700;
}

.header__text {
	margin-bottom: 50px;

	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.03em;
	color: #262f32;
}

//-----------------------------------//

.content {
	display: grid;
	grid-template-columns: 0.8fr 1fr ;
	grid-template-rows: 1fr 1fr;

	// @media screen and(max-width:992px){
	// 	grid-template-columns: 1fr ;
	// 	grid-template-rows: 1fr;
	// }
}

.content__image-scketch{
	grid-row: 1 / -1;

	@extend %pos-rel;

	background:url("#{$way-img}/content/bg2.jpg") no-repeat center/cover;
}

.content__image-scketch:hover .content__bg{
	background-color: rgba(22,38,51,0.75);
}

.content__bg{
	@include wh(100%,100%);

	position:absolute;
	top:0;
	left:0;

	background-color: rgba(30,146,175,0.75);

	transition:background-color 500ms ease ;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;

	max-width: 450px;
	margin:0 auto 0 auto;
	padding: 0 15px;
}

.title {
	margin-bottom: 30px;

	position: relative;

	font-size: 45px;
	line-height: 66px;
	font-weight: 300;
	letter-spacing: 0.03em;
	color: #fff;
}

.title span{
	font-weight: 900;
}

.text {
	position: relative;

	font-size: 15.6px;
	line-height: 28px;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #fff;
}

.content__image-strarting {
	grid-column: 2 / 3;

	@extend %pos-rel;

	background:url("#{$way-img}/content/bg3.jpg") no-repeat center/cover;
}

.content__bg--strarting{
	background-color: rgba(255,244,210,0.91);
}

.content__image-strarting:hover .content__bg--strarting{
	background-color: rgba(30,146,175,0.75);
}

.button {
	height: 52px;
	margin-top: 25px;
	padding: 0 56px;

	position: relative;

	font-size: 16.6px;
	line-height: 32px;
	letter-spacing: 0.03em;

	background-color:transparent;
	border: 1px solid #262f32;
	border-radius: 15px;
}

.button--bd{
	color: $main-color;

	border: 1px solid $main-color;
}

.content__image-Dummy {
	grid-column: 2 / 3;

	@extend %pos-rel;

	background:url("#{$way-img}/content/bg1.jpg") no-repeat center/cover;
}

.content__image-Dummy:hover .content__bg--Dummy{
	background-color: rgba(30,146,175,0.75);
}

.content__bg--Dummy{
	background-color: rgba(22,38,51,0.75);
}

//-----------------------------------//

.footer {

}

.footer__left {
}

.footer__inner-logo {
}

.footer__log {
}

.footer__title {
}

.footer-right {
}

.footer__inner-input {
}

.footer__input-name {
}

.footer__input-email {
}

.footer__input-message {
}

.footer__socials-inner {
}

.footer__socials {
}

.footer__link {
}

.footer__icon {
}
